{% extends 'base.html' %}

{% load static %}
{% block title %} Bergane - {{ category_name }} Flashcards {% endblock %}
{% block decription %}Flashcards{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}

<section>
    <div class="banner">
        <div class="container">
            <div class="row g-4 g-md-3 align-items-center">
                <div class="col-md-auto order-md-last">
                    <h1 class="text-xl font-bold mb-4">Flashcards</h1>
                    <div>
                        {% for flashcard in page_obj %}
                        <div class="mb-4 p-4 border rounded shadow">
                            <div class="flashcard-question" {% if not flashcard.is_multiple_choice %}onclick="toggleAnswer(this)"{% endif %}>
                                {{ flashcard.question | safe }}
                                {% if not flashcard.is_multiple_choice %}
                                    <span class="flashcard-answer hidden uppercase">Svar: {{ flashcard.answer | safe }}</span>
                                {% endif %}
                            </div>
                            {% if flashcard.is_multiple_choice %}
                                {% for choice in flashcard.choices.all %}
                                    <button onclick="checkAnswer(this, '{{ choice.is_correct }}')">{{ choice.text | safe }}</button>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button onclick="resetFlashcards()" class="mb-4 btn btnOutline rounded">Resett</button>
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; första</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">föregående</a>
                                {% endif %}
                        
                                <span class="current">
                                    Sida {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}.
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">nästa</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">sista &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function resetFlashcards() {
        // Dölja alla svar för klassiska flashcards
        document.querySelectorAll('.flashcard-answer').forEach(answer => {
            answer.classList.add('hidden');
        });

        // Ta bort valda klasser från flervalsfrågor
        document.querySelectorAll('.flashcard-choice').forEach(choice => {
            choice.classList.remove('correct', 'incorrect');
        });

        // Alternativt, om du ändrar knappens utseende vid val
        document.querySelectorAll('button').forEach(button => {
            button.classList.remove('correct', 'incorrect');
        });
    }
</script>
<script>
    function toggleAnswer(questionElement) {
        var answerElement = questionElement.querySelector('.flashcard-answer');
        if (answerElement) {
            answerElement.classList.toggle('hidden');
        }
    }
</script>
<script>
    function checkAnswer(element, isCorrect) {
        if (isCorrect === "True") {
            element.classList.add('correct');
            // Visa något meddelande eller utför en åtgärd för rätt svar
        } else {
            element.classList.add('incorrect');
            // Visa felmeddelande eller feedback
        }
    }
</script>
    
{% endblock %}
