/* Utileties */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* font-family: 'Courier Prime', monospace;
font-family: 'Heebo', sans-serif; */
:root {
  --primaryColor: #9C07B6;
  --primaryDarkColor: #3D0048;
  --primaryHoverColor: #900AA8;
  --secondaryColor: #F9B000;
  --baseColor: #21243D;
  --baseFont: 'Poppins', sans-serif;
  --titleFont: 'Poppins', monospace;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --lightBg: #F1F1F1;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--baseFont);
  color: var(--baseColor);
  line-height: normal;
}


input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}