{% load static %}
<!-- ================================
Start Navigation Bar
================================= -->
<header>
  <div class="headerCol">
  <div class="container-fluid">
      <div class="row align-items-center">
      <div class="col-auto">
          <div class="logoCol"><a href="{% url 'bergane:index' %}"><img src="{% static 'images/logo.png' %}" alt="..."></a></div>
      </div>
      <div class="col">
          <div class="d-md-none">
          <button class="navToggle">
              <span class="navToggle__text">Toggle Menu</span>
          </button>
          </div>
            <button id="theme-toggle" class="theme-toggle-btn">
            Växla Tema
            </button>
          <div class="navCollapseCol">
            <div class="navCol">
                <ul>
                    <li><a href="{% url 'bergane:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Hem</a></li>
                    <li><a href="{% url 'bergane:portfolios' %}" class="{% if request.resolver_match.url_name == 'portfolios' %}active{% endif %}">Portfolio</a></li>
                    <li><a href="{% url 'bergane:blogs' %}" class="{% if request.resolver_match.url_name == 'blogs' %}active{% endif %}">Blog</a></li>
                    <li><a href="{% url 'flashcards:category_list' %}" class="{% if request.resolver_match.url_name == 'category_list' %}active{% endif %}">Flashcards</a></li>
                    <li><a href="{% url 'bergane:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Kontakta</a></li>
                </ul>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
</header>

<!-- ================================
End Navigation Bar
================================= -->